@using LearningSystem.ViewModels.Admin
@model IEnumerable<AllCoursesViewModel>

@{
    ViewData["Title"] = "All courses";
}

<h2>@ViewData["Title"]</h2>
<a asp-area="Admin" 
   asp-controller="Courses" 
   asp-action="Create" 
   class="btn btn-success">Create new course</a>
<ul>@Html.DisplayForModel()</ul>