@model CreatePaymentBindingModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form method="post">
    @Html.DropDownListFor(model => model.CourseId, Model.Courses, new { @class="form-control" })
    <div class="form-group mt-3">
        <input type="submit" value="Pay" class="btn btn-success"/>
    </div>
</form>
