@model LearningSystem.Web.Areas.Admin.Models.Course.AllCoursesViewModel

<li>
    <a asp-area="Admin"
       asp-controller="Courses"
       asp-action="Details"
       asp-route-id="@Model.Id">@Model.Name</a>
</li>