@model LearningSystem.Web.Areas.Admin.Models.CourseInstance.CourseInstanceViewModel

<li>
    <a asp-area="Lecturer" 
       asp-controller="CourseInstances" 
       asp-action="Details" 
       asp-route-id="@Model.Id">@Model.Name</a>
</li>